/* Site CSS Document */

body {
	background-color: #c6c6c6;
}

h1 {
	font-family: Calibri;
	color: green;
}

h2 {
	color: red;
}

div {
    display: block;
	background-color: lightblue;
	height: 50px;
	width: 50%;
	float: right;
}

